.badge{
    width: 100%;
    padding: 6px 12px;
    color: var(--txt-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
.badge-danger{
    background-color: var(--main-color-red);
}
.badge-success{
    background-color: var(--main-color-green);
}
.badge-primary{
    background-color: var(--main-color-yellow);
}
.badge-warning{
    background-color: var(--main-color-orange);
}